.body {
	font-family: Tahoma, "Cordia New", CordiaUPC;
	background-color: #ffffff;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-size: 1.0em;
	color: #000000;
}
.normal {
	font-family: Tahoma, "Cordia New", CordiaUPC;
}
.bigger {
	font-family: Tahoma, "Cordia New", CordiaUPC;
}
.biggest {
	font-family: Tahoma, "Cordia New", CordiaUPC;
}